*{
    background-color: rgb(220, 254, 255);
}
img{
    float:right;
    clear: left; 
    margin:2px;
    border-radius: 5px;
     border: 1px black solid;
    }
    hr{
text-decoration:black solid;
height: 2px;
color: black solid;
background-color: black;
    }
h3{

    text-decoration: underline;
}
h4{
    text-align: right;
}
